.card {
    position: relative;
    display: grid;
    gap: 12px;
    // max-width: 262px;
   

    &:hover {
        .card__btn, .card__fav {
            transform: translateY(0%);
            // display: block;
            opacity: 1;
        }
    }

    
}


.card__picture {
    position: relative;
}
.card__picture img {
    width: 100%;


}
.card__new {
    padding: 4px 14px 4px 14px;
    position: absolute;
    color: rgb(18, 18, 18);
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    top: 16px;
    left: 16px;
    background-color: #fff;
    border-radius:4px;
}

.card__fav {
    z-index: 9;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    // padding: 6px;
    background-color: #fff;
    border-radius:50%;
    transition: all 0.8s ease-in;
    transform: translateY(-50%);
    opacity: 0;
    

    &:hover {
        background-color: #d70a0a;
       
    }

    
    
}
.card__desc {
    display: grid;
    gap: 4px;
}
.card__rating {
    display: flex;
    gap: 2px;
}
.card__rating img {
    width: 16px;
    height: 16px;
}
.card__title {

    color: rgb(20, 23, 24);
    font-size: 16px;
    font-weight: 600;
    line-height: 162%;
    letter-spacing: 0px;

    @media (max-width: 375px) {
        font-size: 14px;
        line-height: 157%;
      }
}
.card__price {
    color: rgb(18, 18, 18);
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
}
.card__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // height: 100%;
}
.card__btn {
    position: absolute;
    bottom: 16px;
    left: 16px;
    // display: none;
    z-index: 10;
    transition: all 0.8s ease-in;
    transform: translateY(50%);
    opacity: 0;
    
}
.btn {
    padding: 9px 74px;
    color: rgb(254, 254, 254);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.4px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.04);
    background: rgb(20, 23, 24);
}