.headline-4 {
    font-family: var(--font-accent);
    font-weight: 500;
    font-size: clamp(34px, 1.951rem + 0.74vw, 40px);
    line-height: 110%;
    letter-spacing: -0.01em;
    color: #000;
}