.hero {
    padding-top: 222px;
    // padding-top: clamp(50px, -0.66rem + 16.15vw, 222px);
    height: 820px;
    background-color: #ffc95c;
    background-image: url('./../img/Hero/bg.jpg');
    background-position: center center; /* x y */
    background-size: cover;
    background-repeat: no-repeat;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        bbackground-image: url(./../img/Hero/bg@2x.jpg);
	}

    @media(max-width:1250px){
        height: 720px;
        padding-top: 170px;
          
    }

    @media(max-width:1100px){
        height: 620px;
        
    }

    @media(max-width:955px){
        height: 500px;
        padding-top: 90px;
        
    }

    @media(max-width:800px){
        height: 400px;
        padding-top: 20px;  
    }

    @media(max-width:500px){
        padding-top: 40px;
        min-height: 770px;
        min-width: 375px;
        text-align: center;

        background-image: url(./../img/Hero/bg-image-mobile.jpg);
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background-image: url(./../img/Hero/bg-image-mobile2x.png);
        }
    }
    
    @media(max-width:375px){
        min-height: 690px;
    }
}

.hero__wrapper {
    max-width: 538px;
    margin: 0 0 0 auto;

    @media(max-width:1100px){
        max-width: 438px;
        
    }

    @media(max-width:955px){
        max-width: 378px;  
    }

    @media(max-width:800px){
        max-width: 340px; 
    }
    @media(max-width:619px){
        max-width: 292px;
    }

    @media(max-width:500px){
        margin: 0 auto;
    }
}
.hero__title {
    font-family: var(--font-accent);
    font-weight: 500;
    font-size: clamp(40px, 1.62rem + 3.76vw, 80px);
    line-height: clamp(42px, 1.701rem + 3.94vw, 84px);
    letter-spacing: -3px;
    text-wrap: balance;
    // text-align: left;

    span {
        color: #377DFF;
    
    }

    @media(max-width:1440px){
        
    }
}


.hero__text {
    margin-top: 8px;
    color: rgb(18, 18, 18);
    // font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;

    @media(max-width:375px){
        font-size: 16px;
    }
}
.hero__btn {
    margin-top: 28px;
    padding: 12px 56px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.4px;
    text-align: center;
    border-radius: 8px;
    background: rgb(20, 23, 24);
    transition: all 0.5s ease-in;

    &:hover {
        opacity: 0.8;
    }

    @media(max-width:375px){
        margin-top: 16px;
        font-size: 14px;
        line-height: 24px;
    }
}