.info {
    padding: 40px 0;
}

.info__wrapper {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(262px, 1fr));
	// gap: 24px;

    @media(max-width: 550px){
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 24px 8px;
    }
}
.info__block {
    padding: 48px 32px;
    background: rgb(243, 245, 247);
    width: 262px;
    max-height: 220px;

    @media(max-width:640px){
        width: 200px;
     
    }

    @media(max-width:500px){
        padding: 32px 16px;
        // padding: clamp(32px, 1.211rem + 3.37vw, 48px) clamp(16px, 0.211rem + 3.37vw, 32px);
        max-width: 200px;
        height: 202px;
    }

    @media(max-width:420px){
        padding: 32px 16px;
        // padding: clamp(32px, 1.211rem + 3.37vw, 48px) clamp(16px, 0.211rem + 3.37vw, 32px);
        width: 152px;
        // height: 202px;
    }
}
.info__img {
    width: 48px;
    height: 48px;
}
.info__title {
    margin-top: 16px;
    color: rgb(20, 23, 24);
    font-size: clamp(14px, 0.743rem + 0.56vw, 22px);
    font-weight: 500;
    line-height: clamp(22px, 1.309rem + 0.28vw, 28px);
    letter-spacing: 0px;

    @media(max-width:850px){
        font-weight: 600;
    }
    

    
}
.info__text {
    margin-top: 8px;
    color: rgb(108, 114, 117);
    font-family: var(--font-accent);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;

    @media(max-width:375px){
        margin-top: 4px;
        line-height: 22px;
    }
    
}
