.nav {
  padding: 16px 0;
  background: #ffc95c;

  @media (max-width: 600px) {
    display: none;
  }
}
.container {
}
.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
}
.nav__list {
  display: flex;
  gap: 40px;

  @media (max-width: 700px) {
    gap: 15px;
  }
}
.nav__item {
}
.nav__link {
  display: flex;
  gap: 2px;
  align-items: center;
  font-family: var(--font-nav);
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: rgb(20, 23, 24);
}
.nav__btns {
  display: flex;
  gap: 16px;
  align-items: center;
}
.nav__btn {
  display: flex;
  gap: 3px;
  align-items: center;
}
.nav__btn-count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: #141718;
  color: #ffab00;
  border-radius: 50%;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 83%;
}

