.timer {
    display: flex;
    gap: 16px;

}
.timer__item {


}
.timers__value {
    width: 60px;
    height: 60px;
    background: rgb(254, 254, 254);
    color: rgb(20, 23, 24);
    font-family: var(--font-accent);
    font-size: 34px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -0.6px;
    text-align: center;
}
.timer__desc {
    color: rgb(20, 23, 24);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;

}